@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/theme' as *;

.footer {
  padding: $spacing-05 0;
  display: flex;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding: 0 $spacing-05;
}

.footer-content nav {
  display: flex;
  gap: $spacing-05;
}

.footer-content nav a {
  color: $text-helper;
  text-decoration: none;
  font-size: 0.875rem;
}

.footer-content nav a:hover {
  color: $text-primary;
  text-decoration: underline;
}

.footer-content p {
  color: $text-helper;
  margin: 0;
  font-size: 0.875rem;
}

@media (max-width: 1057px) {
  .footer-content p {
    display: none;
  }
}
