@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;

@use './mixins.scss' as *;

.appointment-grid {
  padding: 0;
  width: 1440px;
  height: auto;
}

.appointment-page__banner {
  padding: $spacing-07;
  margin: 0;
  max-height: 200px;
  height: 100vh;
  @include appointment-page-background;
}

.helper-txt {
  color: $gray-70;
  @include type-style('caption-01');
}

.appointment-page__date-select {
  height: auto;
  margin-left: $spacing-07;
  padding: $spacing-07 0;
}

.date-picker__tile {
  padding-left: 20px;
  min-height: 504px;
}

.appointment__date-picker {
  margin-bottom: $spacing-07 * 10;
  width: 289px;
}

.appointment__date-picker .cds--date-picker__input {
  background-color: $white;
}

.date-picker__tile .cds--btn {
  width: 288px;
}

.appointment-page__slot-select {
  height: auto;
  margin: 0 $spacing-07;
  padding: $spacing-07 0;
}

.appointment-page__slot-select .cds--data-table-header {
  padding: 0;
}

.confirmation__tile,
.slot-table__tile {
  min-height: 504px;
}

.appointment-page__confirm {
  height: auto;
  margin-right: $spacing-07;
  padding: $spacing-07 0;
}

.confirmation__row {
  margin-top: $spacing-05;
  background-color: $white;
  outline: 1px solid $gray-20;
  padding: $spacing-05;
  transition: background-color 0.3s ease;

  &:hover {
    outline: 2px solid blue;
  }
}

.confirmation__btn {
  margin-top: $spacing-05;
  width: 100%;
}

.info-txt {
  @include type-style('body-short-02');
}

.appointment-page__image-row {
  display: flex;
  justify-content: flex-end;
  padding-bottom: $spacing-07;
}

.appointment-page__illo {
  width: 100%;
  max-width: 480px;
}

@media (max-width: 1057px) {
  .date-picker__tile {
    margin-right: $spacing-07;
  }

  .confirmation__tile {
    margin-left: $spacing-07;
  }
}

@media (max-width: 672px) {
  .appointment-page__illo {
    width: 528px;
    width: 100%;
    height: auto;
    float: inline-start;
  }
}

@media (max-width: 320px) {
  .appointment-page__illo {
    display: none;
  }

  .appointment-page__banner {
    padding-bottom: $spacing-05 * 4;
  }
}
